{% load static %}

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<link rel="icon" type="image/png" href="{% static 'icon/logo.png' %}" />
		<!--meta:vp detecta la pantalla y per,ite el uso de mediaQueries-->
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>
			AVES ECUADOR - 
			{% block titulo %}

			{% endblock %}
		</title>
		<!-- Bootstrap -->
		<!-- Latest compiled and minified CSS. -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-3.3.7/bootstrap.css' %}">
		<!-- Optional theme -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-3.3.7/bootstrap-theme.css' %}">
		<!-- Fuente para Iconos -->
		<link rel="stylesheet" type="text/css" href="{% static 'font/font.css' %}">
		<!-- ESTILOS de la pag WEB -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
		{% block style %}
		{% endblock %}
	</head>
	<body class="gris2">
	 	<div class="principal">
	 		<div class="containernav">
	 			<nav class="navbar navbar-inverse">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
					        	<span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
					    	</button>
					    	<a class="navbar-brand" href="#">Menú</a>
					    </div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      		<ul>
						     	<li><a href="{% url 'home' %}" title="INICIO"><span class="icon-home2"></span></a></li>
						        <li><a href="{% url 'peligro' %}" title="AMENAZAS"><span class="icon-clipboard"></span></a></li>
						        <li><a href="{% url 'mapa' %}" title="MAPA"><span class="icon-earth"></span></a></li>
						        <li><a href="{% url 'cont' %}" title="PROVINCIAS"><span class="icon-newspaper"></span></a></li>
						        <li><a href="{% url 'especies' %}" title="CLASIFICACION"><span class="icon-key"></span></a></li>
						        <li><a href="https://github.com/programacion-taw-utpl-001/gp31-final-grupo003" title="PROYECTO-GIT"><span class="icon-github"></span></a></li>
					        </ul>
				    	</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</nav>
			</div>
        	<div class="container">
        		<header class="row">
		           <hgroup class="container logo">
	            		<h1 id="titulo">UTPL</h1>
	            		<h3 id="subtitulo">DATA Set AVES</h3>
	            </hgroup>
	            </header>
        		<main class="row gris">
            		{% block contenido %}
            			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore voluptates, saepe? Obcaecati reprehenderit, deserunt nihil repellat aspernatur pariatur animi ipsa, accusantium totam amet dignissimos incidunt quam quae omnis ad facere.</p>
					{% endblock %}
        		</main>
			</div>
			<footer class="container">
				{% block footer %}

				{% endblock %}
				<div class="row">
					<div class="col-xs-4">
						<div class="row borde">
							<div class="col-xs-4">
								<img class="img-responsive img-rounded" src="https://scontent.fatf1-1.fna.fbcdn.net/v/t1.0-9/23754790_886500581520821_3034496136919281559_n.jpg?oh=55849698fd68f45ad6288d48210bb060&oe=5ADE9440" alt="">
							</div>
							<div class="col-xs-8">
								<label>Nombre:</label>
								<p>Cristian Aguirre</p>
								<label>Facebook</label>
								<a href="https://www.facebook.com/cristian.aguirre.9615566"><span class="icon-facebook facebook"></span></a>
							</div>
						</div>
					</div>
					<small class="col-xs-4">
						<span class="font-peque">Developed By</span>
						<span class="font-medio">Cristian</span>
						<span class="font-grande">&</span>
						<span class="font-medio">Rocío</span>
						<span class="font-peque">© Copyright 2018</span>
					</small>
					<div class="col-xs-4">
						<div class="row borde">
							<div class="col-xs-8">
								<label>Nombre:</label>
								<p>Rocio Jaramillo</p>
								<label>Facebook</label>
								<a href="https://www.facebook.com/rocio.jaramillorosales"><span class="icon-facebook facebook"></span></a>
							</div>
							<div class="col-xs-4">
								<img class="img-responsive img-rounded" src="https://scontent.fatf1-1.fna.fbcdn.net/v/t1.0-9/25594184_950872738384995_7615326129099385420_n.jpg?oh=e3aa6a70d32a8c718b79f246a92319b4&oe=5ADC99A5" alt="">
							</div>
						</div>
					</div>
				</div>
			</footer>
			<span class="icon-home2 ir-arriba"></span>
		
			<!-- Latest compiled and minified JavaScript -->
			<!--<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>-->
			<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
			
			<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
			<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/acciones.js' %}"></script>
			<script src="{% static 'js/bootstrap.min.js' %}"></script>
	    	<script src="{% static 'css/bootstrap-3.3.7/js/jquery.min.js' %}"></script>
			{% block script %}

			{% endblock %}	
		</div>
	</body>
</html>

